<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/akramcodez/AirExplorer"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.instagram.com/akramcodez/"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://www.linkedin.com/in/sk-akram-aaa903318/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://x.com/akramcodez/"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="f-info-brand">&copy; AirExplorer Private Limited</div>
    <div class="f-info-links">
      <a href="https://github.com/akramcodez">created by AKRAM</a>
    </div>
  </div>
</footer>
